/* Import google fonts Syne, Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');


/*  Asterisk wildcard selector to override browser style defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/* General style section */
body {
    min-height: 100vh;
    /* Take full height of viewport */
    display: flex;
    /* enable flex for responsiveness */
    flex-direction: column;
    color: #3a3a3a;
    /* set text color */
    font-family: 'Montserrat', sans-serif;

}

/* Header */
header {
    background-color: #1b4332; /* Set header bg color */
    padding: 0 1rem; /* add padding left and right to text */
    position: fixed; /* keep nav at top during scrolling */
    z-index: 99; /* raise header to keep it on top of any other elements */
    width: 100%; /* take up full width of screen */ 
}

header a {
    text-decoration: none; /* remove underline from nav items */
    color: #ffffff;
    letter-spacing: 2px; /* space out the logo text */
}

/* set default font style for h tags */
h1, h2, h3 {
    font-family: 'Syne', sans-serif;

}

/* style menu bar */
#menu   {
    font-size: 110%; /* Make ment text larger */
    letter-spacing: 4px; /* space menu text out */
    list-style-type: none; /* remove disc from list item */
}

/* style menu items */
#menu > li {
    margin-top: .5em;    /* Space out menu items */
    margin-bottom: .5em; /* Space out menu items */
}

.active {
    border-bottom: 1px solid #ffffff;
}

/* Main */
main {
    background-color: rgb(217, 0, 255);
    flex: 1 0 auto;
    /* make main element take up all surplus space */
}

/* Footer */
footer {
    background-color: yellow;
    position: sticky; /* keep footer at bottom  during scrolling */
    z-index: 99; /* raise header to keep it on top of any other elements */
}